{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Bienvenue sur Healthy-Life-Mode</h2>
    <p class="text-center">Notre mission est de vous aider à prédire les troubles de santé et à améliorer votre qualité
        de vie.</p>

    <!-- Carousel of images -->
    <div id="mainCarousel" class="carousel slide mt-4" data-ride="carousel" data-interval="5000">
        <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/images/image1.jpg" class="d-block w-100" alt="Image 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="card-title">Prédiction de santé</h5>
                    <p class="card-text">Utilisez nos outils pour prédire et prévenir les troubles de santé.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/images/image2.jpg" class="d-block w-100" alt="Image 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="card-title">Conseils personnalisés</h5>
                    <p class="card-text">Recevez des conseils personnalisés pour améliorer votre santé.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/images/image3.jpg" class="d-block w-100" alt="Image 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="card-title">Suivi de progrès</h5>
                    <p class="card-text">Suivez vos progrès et atteignez vos objectifs de santé.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">

        <h2 class="text-center">Notre communauté grandi ! </h2>
        <h5 class="text-center">Rejoignez-nous pour bénéficier de nos services</h5>
        <h4 class="text-center">{{ user_count }} utilisateurs inscrits</h4>
    </div>
    <!-- Presentationd e smdoele de predicitond e probleme de sommeil de probleme de santé mental et de probleme d'obzsité  -->

    <div class="container mt-5">
        <h2 class="text-center">Nos services</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="/media/images/sleep.jpg" class="card-img-top" alt="Image 1">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Problèmes de sommeil</h5>
                        <p class="card-text">Notre but est, via quelque informations simples sur vous, trouver les troubles du sommeil qui pourrai vous nuire. Notre model est basé sur des données scientifiques et des études de cas réels avec une precision de 80%
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="/media/images/nutrition.jpg" class="card-img-top" alt="Image 2">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Prevision de probleme de poid</h5>
                        <p class="card-text">Description des services pour la nutrition.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="/media/images/mental-health.jpg" class="card-img-top" alt="Image 3">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Santé Mental</h5>
                        <p class="card-text">Description des services pour le fitness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
<script>
    $(document).ready(function () {
        $('#mainCarousel').carousel({
            interval: 5000
        });
        $('#servicesCarousel').carousel({
            interval: 8000
        });
    });
</script>