{% extends 'base.html' %}
{% load static %}

{% block title %}Profil Utilisateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mt-5">Bienvenue sur votre profil {{ user.first_name }} {{ user.last_name }}</h1>
    <h5 class="text-center mt-5">Ici vous pouvez modifier quelque Informations sur votre profil si elle sont incorrectes ou non renseignées</h5>
    <div class="text-left mt-5">
    <div class="card">
        <div class="container mt-5">
            <h5 class="card-title">Informations Utilisateur</h5>
            <div class="row">
                <div class="col-md-3">
                    <p><strong>Pseudo:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>FNom:</strong> {{ user.first_name }}</p>
                    <p><strong>Nom de Famille:</strong> {{ user.last_name }}</p>
                    <div class=" mt-4">
                        <a href="{% url 'user_update' %}" class="btn btn-custom">Modifier Profile</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Age:</strong> {{ profile.age }}</p>
                    <p><strong>Sexe:</strong> {{ profile.sexe }}</p>
                    <p><strong>Taille:</strong> {{ profile.height }} cm</p>
                    <p><strong>Poids:</strong> {{ profile.weight }} kg</p>
                    <p><strong>Pas:</strong> {{ profile.steps }} par jour</p>
                    <p><strong>Qualité du repos:</strong> {{ profile.sleep_quality }} (1-10)</p>
                    <p><strong>durée de la nuit:</strong> {{ profile.sleep_duration }} (1-10)</p>
                    <p><strong>Niveau d'activité Physiques:</strong> {{ profile.physical_activity }} (1-70)</p>
                    <p><strong>Niveau de stress:</strong> {{ profile.stress_level }} (1-10)</p>
                   
                </div>
                <div class="col-md-3">
                    <p><strong>antecedent d'obésité dans la famille:</strong> {{ profile.family_history_with_overweight }}</p>
                    <p><strong>consomation de produit gras:</strong> {{ profile.favc }}</p>
                    <p><strong>fréquent grignotage:</strong> {{ profile.caec }}</p>
                    <p><strong>fumeur:</strong> {{ profile.smoke }}</p>
                    <p><strong>les calories vous import:</strong> {{ profile.scc }}</p>
                    <p><strong>consomation d'alcool:</strong> {{ profile.calc }}</p>
                    <p><strong>Consomation d'eau:</strong> {{ profile.mtrans }} en litre</p>
                    <p><strong>frequence d'activité physique hebdomadaire:</strong> {{ profile.faf }}</p>
                    <p><strong>Temps passé sur les écrans par jour:</strong> {{ profile.tue }}</p>
                    <p><strong>Consomation d'eau:</strong> {{ profile.ch2o }} en litre</p>
                    <p><strong>Consomation d'eau:</strong> {{ profile.fcvc }} en litre</p>
                    <p><strong>Consomation d'eau:</strong> {{ profile.ncp }} en litre</p>    
                </div>
                <div class=" mt-4">
                    <a href="{% url 'update_profile' %}" class="btn btn-custom">Modifier Info</a>
                </div>
                <div class="container mt-5"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5"></div>
    </div>
    <div class="card">
        <div class="container mt-5">
        </div>
        <div class="container mt-5">
            <h5 class="text-center">Analyser vos informations !</h5>
            <h6 class="text-center">Analyser vos informations pour prédire les troubles de santé</h6>
            <div class="text-center mt-5">
                {% if profile.age and profile.sexe and profile.height and profile.weight and profile.steps and profile.sleep_quality and profile.sleep_duration and profile.physical_activity and profile.stress_level %}
                    <a href="{% url 'predict_sleep_disorder' %}" class="btn btn-custom">Predict</a>
                {% else %}
                    <p class="text-danger">Veuillez compléter toutes les informations de votre profil pour utiliser la prédiction.
                        <div class=" mt-4">
                            <a href="{% url 'update_profile' %}" class="btn btn-custom">Mettez à jour vos information </a>
                        </div>
                    </p>
                {% endif %}
                <h1 class="mt-5"></h1>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card">
            <h5 class="card-title p-3">Historique des Données
            </h5>
            <canvas id="userProfileChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('userProfileChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for entry in history %}'{{ entry.updated_at|date:"Y-m-d" }}',{% endfor %}],
                datasets: [
                    {
                        label: 'Steps',
                        data: [{% for entry in history %}{{ entry.steps }},{% endfor %}],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: false,
                        yAxisID: 'y'
                    },
                    {
                        label: 'Sleep Quality',
                        data: [{% for entry in history %}{{ entry.sleep_quality }},{% endfor %}],
                        borderColor: 'rgba(153, 102, 255, 1)',
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        fill: false,
                        yAxisID: 'y1'
                    },
                    {
                        label: 'Sleep Duration',
                        data: [{% for entry in history %}{{ entry.sleep_duration }},{% endfor %}],
                        borderColor: 'rgba(255, 159, 64, 1)',
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        fill: false,
                        yAxisID: 'y1'
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Steps'
                        }
                    },
                    y1: {
                        beginAtZero: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: 'Sleep'
                        },
                        grid: {
                            drawOnChartArea: false // only want the grid lines for one axis to show up
                        }
                    }
                }
            }
        });
    });
</script>
{% endblock %}