{% extends 'base.html' %}
{% load static %}

{% block title %}Profil Utilisateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mt-5">Bienvenue sur votre profil {{ user.first_name }} {{ user.last_name }}</h1>
    <h5 class="text-center mt-5">Ici vous pouvez modfifier quelque information sur votre profil si elle sont incorrecte ou non renseigné</h5>
    <div class="text-center mt-5">
    <div class="card">
        <div class="container mt-5">
            <h5 class="card-title">Informations Utilisateur</h5>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'user_update' %}" class="btn btn-custom">Modifier Profile</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p><strong>Age:</strong> {{ profile.age }}</p>
                    <p><strong>Sexe:</strong> {{ profile.sexe }}</p>
                    <p><strong>Height:</strong> {{ profile.height }} cm</p>
                    <p><strong>Weight:</strong> {{ profile.weight }} kg</p>
                    <p><strong>Steps:</strong> {{ profile.steps }} par jour</p>
                    <p><strong>Sleep Quality:</strong> {{ profile.sleep_quality }} (1-10)</p>
                    <p><strong>Sleep Duration:</strong> {{ profile.sleep_duration }} (1-10)</p>
                    <p><strong>Physical Activity Level:</strong> {{ profile.physical_activity }} (1-70)</p>
                    <p><strong>Stress Level:</strong> {{ profile.stress_level }} (1-10)</p>
                    <div class="text-center mt-4">
                        <a href="{% url 'update_profile' %}" class="btn btn-custom">Modifier Info</a>
                    </div>
                </div>
                <div class="container mt-5"></div>
            </div>
        </div>
    </div>
    <div class="container mt-5"></div>
    </div>
    <div class="card">
        <div class="container mt-5">
        </div>
        <div class="container mt-5">
            <h5 class="text-center">Analyser vos information !</h5>
            <h6 class="text-center">Analyser vos information pour prédire les troubles de santé</h6>
            <div class="text-center mt-5">
                <a href="{% url 'predict_sleep_disorder' %}" class="btn btn-custom">Predict</a>
                <!-- margin bottom-->
                <h1 class="mt-5"></h1>
            </div>

        </div>
    </div>
</div>

{% endblock %}