/* styles.css */

/* Style for the navigation bar */
.navbar {
    background: linear-gradient(to right, #ffcccc, #ff99cc); /* Gradient background */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Style for navigation links */
.navbar li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

/* Style for navigation links */
.navbar a {
    text-decoration: none;
    color: #333;
}

/* Style for h1 and h2 */
h1,
h2 {
    color: white;
}
