{% extends 'base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Update Profile</h1>
    <form method="post">
        {% csrf_token %}
        
        <div id="profileCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Informations Personnelles 1/4</h5>
                            <div class="form-group">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                {{ form.age.label_tag }}
                                {{ form.age }}
                            </div>
                            <div class="form-group">
                                {{ form.sexe.label_tag }}
                                {{ form.sexe }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Informations Physiques 2/4</h5>
                            <div class="form-group">
                                {{ form.height.label_tag }}
                                {{ form.height }}
                            </div>
                            <div class="form-group">
                                {{ form.weight.label_tag }}
                                {{ form.weight }}
                            </div>
                            <div class="form-group">
                                {{ form.steps.label_tag }}
                                {{ form.steps }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Qualité du Sommeil 3/4</h5>
                            <div class="form-group">
                                {{ form.sleep_quality.label_tag }}
                                {{ form.sleep_quality }}
                            </div>
                            <div class="form-group">
                                {{ form.sleep_duration.label_tag }}
                                {{ form.sleep_duration }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Activités et Stress 4/4</h5>
                            <div class="form-group">
                                {{ form.physical_activity.label_tag }}
                                {{ form.physical_activity }}
                            </div>
                            <div class="form-group">
                                {{ form.stress_level.label_tag }}
                                {{ form.stress_level }}
                            </div>
                            <button type="submit" class="btn btn-custom">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#profileCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#profileCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'user_profile' %}" class="btn btn-custom">Cancel</a>
            
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('#profileCarousel').on('slid.bs.carousel', function () {
            var $this = $(this);
            if ($('.carousel-inner .carousel-item:first').hasClass('active')) {
                $('.carousel-control-prev').hide();
            } else {
                $('.carousel-control-prev').show();
            }
            if ($('.carousel-inner .carousel-item:last').hasClass('active')) {
                $('.carousel-control-next').hide();
            } else {
                $('.carousel-control-next').show();
            }
        });

        // Initialize carousel and hide previous button initially
        $('#profileCarousel').carousel();
        $('.carousel-control-prev').hide();
    });
</script>
{% endblock %}
